.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: absolute;
  height: 50px;
  width: 100vw;
  background-color: #282c34;
}

.my-account {
  position: absolute;
  right: 10px;
  color: aliceblue;
}

.my-account:hover {
  text-decoration: underline;
  cursor: pointer;
}

.information-box {
  width: 100vw;
  height: 100vh;
  /* position: relative; */
}

.container {
  position: fixed;
  border: #282c34 solid 1px;
  height: 80%;
  width: 95%;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}

.flex-item {
  width: 100px;
  height: 100%;
}

.left-nav {
  flex-grow: 1;
  background-color: grey;
  max-width: 150px;
  display: flex;
  flex-direction: column;
}
.right-nav {
  flex-grow: 3;
  /* background-color: #282c34; */
}

.pernal-item {
  width: 100%;
  flex-grow: 1;
  border-bottom: #282c34 solid 1px;
  text-align: center;  
  color: whitesmoke;
  size: bold;
}

.pernal-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.go-back-home {
  position: absolute;
  left: 10px;
}